p {

	text-align: center;
	background-color: #CCE7F0;
}

body {
	background-color: #CCE7F0;
}
	.imagem {
		position: relative;
		width: 840px;
		margin:  0 auto;
	}
	h1{
		text-align: center;
		}
	.principal{

		background-color: #0F5870;
		padding: 30px;
	}

p   {

	text-align: center;

	}
	#missao {
		font-size:  20px;

	}
	.itens {
		font-style: italic;
	}
	#rodape {
		text-align: center;
		background-color: #0F5870;

	}
strong {
	color: #F8F8FF;
}

em strong {
	color:  #000000;
}
li{
	display: inline-block;
	width: 20%;
	margin-right: 15%;
	text-transform: uppercase;


}

.imagempremium{
	margin-top:2px;
	margin-bottom: 2px;
	margin-right: 10px;
	margin-left:  10px;

}
hr{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-right: 15%;

